@model RegisterVM
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div asp-validation-summary="All">
    </div>
    <form method="post">

        <div class="mx-auto">
            <div>
                <label>Username</label>
                <span asp-validation-for="Username"></span>
                <input type="text" class="form-control" asp-for="Username" />
            </div>
            <div>
                <label>Email</label>
                <span asp-validation-for="Email"></span>
                <input type="email" class="form-control" asp-for="Email" />
            </div>
            <div>
                <label>Password</label>
                <span asp-validation-for="Password"></span>
                <input type="password" class="form-control" asp-for="Password" />
            </div>
            <div>
                <label>Confirm Password</label>
                <span asp-validation-for="ConfirmPassword"></span>
                <input type="password" class="form-control" asp-for="ConfirmPassword" />
            </div>
            <button type="submit">Register</button>
        </div>
    </form>
</div>
